/*can013*/

.modalMain {
    display: none; /*Hidden by default */
    position: fixed; /*Stay at specified position*/
    width: 40%;
    max-height: 90%; /*make it stay within screen bounds*/
    right: 10px; /*place 10px from right*/
    overflow: auto; /*Scrollbar if needed*/
    float: left; /*Background will cover content*/


}

.modalMoviePopup {
    background-color: #003366;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animateright; /*Set animation keyframes*/
    -webkit-animation-duration: 0.6s; /*Speed of animation*/
}

#movieGenre {
    color: white; /* White color for text */
    font-size: 16px; /* Setting font size for the movie genre */
    margin-left: 10px; /* Placing the start of the text on an even line with the rest*/
}

#mainActors { /* Adjusting main actor text*/
    color: white;
    margin-left: 10px; /* Text starts on the same vertical level as the rest*/
    font-size: 14px;
}

td, th { /* Table content adjustments */
    text-align: left;
    padding: 8px;
    font-size: 14px;
}

b { /* increasing font size of bold-tagged text*/
    font-size: 14px;
}

#summary {
    color: white;
    margin-left: 10px;
    font-size: 14px;
}

table {
    font-family: arial, sans-serif;
}

.close { /* Top right corner closing button of the modal box*/
    position: relative;
    color: white;
    float: right; /* floats to right side*/
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus { /* Design when hovering over close button*/
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}

.modalTitle { /*Title of the modal*/
    padding: 2px 16px;
    color: white;
}

.modalBody { /* Padding of the modal body*/
    padding: 2px 16px;

}

.modalFooter { /* design of the bottom of the modal box(footer)*/
    padding: 2px 10px;
    color: white;

}
.modalMain .overlay {
    background: rgba(68,68,68,0.7);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    pointer-events:none
}

@-webkit-keyframes animateright { /* Animates in from the right side*/
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

@keyframes animateright { /* Animates in from the right side*/
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}