/*can013*/
nav { /* The navigation bar*/
    min-width: 300px;
    width: 100%; /* The length of the screen*/
    top: 0;
    left: 0;
    position: fixed;
    background-color: #333;
    z-index: 100;
}

ul { /* Design of the list to be used in the navigation bar*/
    list-style-type: none;
    margin: 2px 5px 0 200px;
    padding: 0;
    overflow: hidden;
}

/*All list elements to start from left to right until specified otherwise*/
li {
    float: left;
}

#search {
    padding: 0;
    display: inline-block;
}

li a, .dropbtn { /* design for list elements and drop down menu item*/
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn { /* background color when hovering over list elements and drop down menu item*/
    background-color: #4CAF50;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content { /* design of the dropdown content*/
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a { /* Specifications for the drop down content links*/
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover { /* background color when hovering over dropdown content*/
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content { /* displays dropdown content as a block when hovering*/
    display: block;
}

/*Search icon adjustment*/
.search {
    float: right;
        padding-top:6px;

}
.search img {
    height:30px;
    width:32px;
}

/*For screens with 900px and under in width*/
@media screen and (max-width: 900px) {
    ul {
        margin: 0;
    }
}
/*Floats towards right side*/
.searchText {
    float:right;
}

/*Styling of text fields*/
#search-box, #textFieldActor, #textFieldDirector, #textFieldYear, #textFieldCountry { /*Search text box for input*/
    padding:4px 8px 4px 12px;
    margin: 7px 10px 0px 0px;
}

.rounded { /* Rounding off the search text box*/
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}

input[type=text]{ /* color for input type of text field*/
    color:#223;
}

/*Design of the advanced search form*/
.formStyle {
    padding: 10px 20px;
    background: #f4f7f8;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family; Georgia, "Times New Roman", Times, serif;
}

/* The dropdown menu for selecting genres in advanced search form*/
.formStyle select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius; 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    background-color: #e8eeef;
    color: #000000;
    margin: bottom 30px;
}
