/*sto020, jmo034, can013*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix,
.content,.content-row,
.movie-info {
    clear: both;
}
.half-width{
    width:50%;
}
.full-width{
    width:100%;
}
body {
    font-family: Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    /*fallback color if rgba fails*/
    
    color: rgba(51, 51, 51, 0.9);
    background: #ffffff;
    /*fallback color if rgba fails*/
    
    background: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}
.black,
.black a {
    color: #333;
}
.white,
.white a {
    color: white;
}
a {
    text-decoration: none;
}
a:hover {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}
.button {
    color: #FFF;
    border:none;
    margin: 0 auto;
    background: #4CAF50;
    font-style: normal;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.button:hover{
   -webkit-box-shadow: inset 0 0 10px  rgba(3, 3, 3, 0.6);
    -moz-box-shadow: inset 0 0 10px 0 rgba(3, 3, 3, 0.6);
    box-shadow: inset 0 0 10px 0 rgba(3, 3, 3, 0.6);
}
.button-small{
    font-size: 12px;
    padding: 2px 2px 2px 2px; 
}
.button-big, .button-trailer{
    font-size: 14px;
    padding: 8px 8px 8px 8px; 
}
.button-trailer{
    background-color: #E2494B;
}
.button-search {
    font-size: 16px;
    padding: 10px 25px 10px 25px;
    width: 200px;

}
.tag {
    background: #2672B6;
    /*fallback color if rgba fails*/
    background: rgba(38, 114, 182, 0.90);
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    padding: 3px 8px;
    margin-right: 4px;
}
.tag:hover  {
    background: #458ed0;
    /*fallback color if rgba fails*/
    
    background: rgba(38, 114, 182, 0.70);
}
.page-heading {
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 15px;
    font: 40px;
    text-transform: uppercase;
}

.content {
    -webkit-box-shadow:  0 0 17px 0px rgba(3, 3, 3, 0.14);
    -moz-box-shadow:  0 0 17px 0px rgba(3, 3, 3, 0.14);
    box-shadow:  0 0 17px 0px rgba(3, 3, 3, 0.14);
}
.content,
.sidebar {
    float: left;
    width: 100%;
    margin: 0 0 5px;
    padding: 0 5px 5px;
    /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important*/
}
.sidebar {
    vertical-align: center;
    border: none;
    top: 50px;    
    height: 100%;
}
.sidebar-left,
.sidebar-right {
    position: fixed;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    z-index: -1 !important;
    /*keep it behind other content, like dropdowns*/
}
.rotate {
    font-size: 20px;
    transform: rotate(90deg);
    color: gray;
}
.movie-wrapper {
    min-height: 140px;
    width: 140px;
    margin: 2px;
    background: #F3F3F3;
    /*fallback color if rgba fails*/
    
    background: rgba(243, 243, 243, 0.6);
    border: 2px solid #2672B6;
    border-radius: 2px;
}
.thumbnail-wrapper {
    max-height: 140px;
    max-width: 90px;
    border: solid 1px rgba(38, 114, 182, 0.8);
    margin-right: 1px;
    margin-bottom: 1px;
}
.movie-wrapper,
.thumbnail-wrapper {
    float: left;
    position: relative;
    overflow: hidden;
}
.movie-wrapper:hover {
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.81);
}
.movie-thumbnail-sm {
    height: 100px;
    width: 68px;
}
.movie-thumbnail-md {
    height: 140px;
    width: 95px;
}
.movie-thumbnail-lg {
    height: 191px;
    width: 140px;
}
.movie-thumbnail-xl {
    height: 280px;
    width: 190px;
}
.movie-thumbnail-sm,
.movie-thumbnail-md,
.movie-thumbnail-lg,
.movie-thumbnail-xl {
    max-width: 100%;
    display: block;
}
.thumbnail-wrapper .thumbnail-description {
    position: absolute;
    width: 90%;
    margin: auto;
    left: 4px;
    top: 30px;
    color: white;
    letter-spacing: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
}
.thumbnail-wrapper:hover .thumbnail-description {
    -webkit-transition: all .3s;
    transition: all .3s;
    visibility: visible;
    opacity: 1;
}
.search-result {
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(38, 114, 182, 0.8);
    margin-bottom: 8px;
}
.search-result table {
    width: 100%;
}
.search-result tbody td {
    padding-top: 7px;
    vertical-align: top;
}
.search-result table thead {
    background-color: rgba(38, 114, 182, 0.8);
}
.poster-details .movie-detail {
    white-space: nowrap;
}
.poster-details > div:first-child {
    font-weight: bold;
    letter-spacing: 1px;
}
/*For screens with 900px and under in width*/

@media screen and (max-width: 900px) {
    .frame-wrapper .frame {
        /*remove some margins to release some space*/
        
        min-width: 300px;
        margin: 50px 0 0 0;
    }
    .content {
        /*remove content l/r margins to release some space for content*/
        
        margin-left: 0px;
        margin-right: 0px;
    }
    .sidebar {
        /*remove sidebars style, and 'convert' them to content*/
        text-align: left;
        color: #333333;
        background-color: #f0f0f0;
        border: solid 5px rgba(240, 240, 240, 0.6);
        border-radius: 1px;
        top: auto;
    }
    .sidebar-left,
    .sidebar-right {
        /*remove sidebars style, and 'convert' them to content*/
        
        position: relative;
        min-width: 300px;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    .buttons {
        top: auto;
        right: auto;
        float: none;
        position: relative;
    }
}
/*For screens with 900px and over in width*/

@media screen and (min-width: 900px) {
    .frame-wrapper .frame {
        margin: 50px 170px 10px 210px;
    }
    .frame-wrapper .sidebar {
        /*remove all margins from sidebar to release some space for content*/
        
        margin: 0;
    }
    .sidebar-left {
        /*set left sidebar to the left side of page*/
        
        width: 200px;
        left: 0;
    }
    .sidebar-right {
        /*set right sidebar to the right side of page*/
        
        width: 160px;
        right: 0;
    }
}
/*Dislay loading vector or fallback loading of images*/

.img-loading {
    background: transparent url(../images/loading_fallback.gif) center no-repeat;
    /*fallback loading image*/
    
    background-image: -webkit-linear-gradient(transparent, transparent), url(../../assets/vector/puff.svg);
    /*specific browsers loading image*/
    
    background-image: -moz-linear-gradient(transparent, transparent), url(../../assets/vector/puff.svg);
    /*specific browsers loading image*/
    
    background-image: linear-gradient(transparent, transparent), url(../../assets/vector/puff.svg);
    /*used in most browsers*/
    
    background-size: 90%;
    backface-visibility: hidden;
}
/*end .img-loading class*/
/*Users page*/

.user-content {
    height: 600px;
}
.user-loans,
.user-wanted {
    float: left;
    padding: 10px;
}
.user-loans,
.user-wanted header {
    margin-bottom: 10px;
}

/*full movie info by jmo034*/

.movie-image {
    margin: auto;
}
.movie-info .movie-image {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.movie-info,
.movie-description {
    max-width: 1000px;
    line-height: 28px;
    color: #222;
    font-size: 13px;
    margin: 0px 15px 15px 15px;
}
.movie-detail {
    font-size: 14px;
    margin: 0 auto;
}
.poster-details {
    background-color: #2672B6;
    background-color: rgba(38, 114, 182, 0.8);
}
.poster-details .movie-detail {
    white-space: nowrap;
}
.score {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    border: 0;
    font-size: 0;
}
.score legend {
    overflow: hidden;
    height: 0;
}
.score label {
    font-size: 32px;
    font-size: 2rem;
    line-height: 32px;
    line-height: 2rem;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 1.2em;
    height: 1em;
    overflow: hidden;
    text-indent: 100%;
}
.score label:before {
    content: "☆";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-indent: 0;
    line-height: 1em;
    color: #aaa;
}
.score label:hover:before,
.score label:hover ~ label:before,
.score input:checked ~ label:before {
    content: "★";
    color: #ffbb04;
}
.score label:active {
    position: relative;
    top: 1px;
}
.star {
    position: absolute;
    top: -2em;
    clip: rect(0, 0, 0, 0);
}
@-webkit-keyframes hvr-icon-float-away {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-1em);
        transform: translateY(-1em);
    }
}
@keyframes hvr-icon-float-away {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-1em);
        transform: translateY(-1em);
    }
}
.hvr-icon-float-away {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.2em;
}
.hvr-icon-float-away:before,
.hvr-icon-float-away:after {
    content: "\f055";
    position: absolute;
    right: 0.7em;
    padding: 0 1px;
    font-family: FontAwesome;
}
.hvr-icon-float-away:after {
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.hvr-icon-float-away:hover:after,
.hvr-icon-float-away:focus:after,
.hvr-icon-float-away:active:after {
    -webkit-animation-name: hvr-icon-float-away;
    animation-name: hvr-icon-float-away;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}
/*end full movie info*/
